@use 'variaveis';

.banner {
    display: flex;
    justify-content: center;

    &__container {
        position: absolute;
        width: 890px;
        z-index: 1;

        @media screen and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            width: 80%;
            left: 10%;
            top: 6%;
        }
    }

    &__img {
        width: 100%;

        @media screen and (max-width: 1023px) {
            width: 560px;
            top: -10px;
            position: relative;

        }

        @media screen and (max-width: 768px) {
            width: 530px;
        }

        @media screen and (max-width: 567px) {
            display: none;
        }

        &-mobile {
            display: block;
            width: 368px;

            @media screen and (min-width: 568px) {
                display: none;
            }

        }

    }

    &::after {
        content: '';
        background-image: url('/dist/images/frieren-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0%;
        display: inline-block;
        width: 100%;
        height: 500px;
        filter: blur(5px);
        position: relative;
        opacity: 0.6;

        @media screen and (max-width: 1023px) {
            height: 334px;
        }

        @media screen and (max-width: 768px) {
            background-image: url('/dist/images/frieren-banner-mobile.jpg')
        }

        @media screen and (max-width: 567px) {
            height: 604px;
        }

    }
}