.description {
    height: 275px;
    display: flex;
    margin-top: 2rem;
    gap: 4rem;

    @media screen and (max-width: 1024px) {
        width: 90%;
        height: 310px;
    }

    @media screen and (max-width: 568px) {
        height: 360px;
    }

    &__title {
        display: flex;
        justify-content: space-between;


        &-share {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }


    &__ratings {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $corTextSegundaria;
        margin: 20px 0;

        &::before {
            content: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Classind_A14.svg');
            display: inline-block;
            width: 16px;

        }

        span {
            display: flex;
            align-items: center;
            gap: 5px;

            &::before {
                content: '';
                background-color: gray;
                border-radius: 100%;
                display: inline-block;
                width: 5px;
                height: 5px;
            }

        }

    }

    &__rate {
        color: $corTextPrimaria;
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 568px) {
            flex-wrap: wrap;
        }


        &-stars {
            cursor: pointer;
            display: inline-block;

            @media screen and (max-width: 568px) {
                width: 100%;
                margin-bottom: 0.4rem;
            }

            button {
                background: none;
                background-image: url('/dist/icons/star.svg');
                border: none;
                width: 24px;
                height: 23px;
                cursor: pointer;
            }

        }

        span {
            border-left: 1px solid $corTextSegundaria;
            padding-left: 1rem;

            @media screen and (max-width: 568px) {
                border-left: none;
                padding: 0;
            }

        }

        span:nth-child(2)::after {
            content: url('/dist/icons/down-arrow-svgrepo-com.svg');
            margin-left: 10px;

        }

        @media screen and (max-width: 568px) {
            span:nth-child(3) {
                border-left: 1px solid $corTextSegundaria;
                padding-left: 1rem;
            }
        }

    }

    &__text {
        width: 660px;
        

        @media screen and (max-width: 1024px) {
            width: 97%;
        }

    }

    &__action {

        &-buttons {
            margin: 26px 0;
            display: flex;

            @media screen and (max-width: 568px) {
                flex-wrap: wrap;
            }

        }

        &-queue,
        &-list {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 0.3rem 1rem;
            text-transform: uppercase;
            font-weight: bold;

            @media screen and (max-width: 568px) {
                padding: 0;
            }

        }

        &-queue {
            background: none;
            border: solid 2px $corPrincipal;
            color: $corPrincipal;

            @media screen and (max-width: 567px) {
                margin-left: 3%;
                padding: 0 0.5rem;
            }

            &-text {
                @media screen and (max-width: 567px) {
                    display: none;
                }
            }

            &::before {
                content: url('/dist/icons/bookmark.svg');
                filter: brightness(0) saturate(100%) invert(65%) sepia(56%) saturate(4894%) hue-rotate(347deg) brightness(99%) contrast(94%);


            }

            &:hover {
                cursor: pointer;
                color: $corPrincipal-select;
                border-color: $corPrincipal-select;
                filter: brightness(0) saturate(100%) invert(68%) sepia(89%) saturate(2471%) hue-rotate(336deg) brightness(104%) contrast(92%);
            }

        }

        &-list {
            border: none;
            background: transparent;
            color: $corTextSegundaria;

            @media screen and (max-width: 568px) {
                margin-top: 1rem;
            }


            &::before {
                content: url('/dist/icons/plus.svg');
            }

        }

    }

    &__tags {
        margin: 1rem 0;

        a {
            background-color: $corTags;
            text-decoration: none;
            text-transform: uppercase;
            color: $corTextPrimaria;
            padding: 6px 8px;
            margin: 0 5px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        

        &-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #4a4e58;
            padding: 10px 0;

        }

        &-language {
            max-width: 60%;
        }

        &-ratings {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &-btn {
            position: absolute;
            top: 84%;
            color: $corTextSegundaria;
            font-weight: bold;
            text-transform: uppercase;
            background: transparent;
            border: none;
            margin: 1rem 0;
            cursor: pointer;

            @media screen and (max-width: 1024px) {
                top: 740px;
            }

            @media screen and (max-width: 567px) {
                top: 1024px;

            }
        }

    }


    &__next-ep {
        padding-left: 2rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 567px) {
            display: none;
        }


        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background-color: $corPrincipal;
            margin-top: 1rem;
            padding: 0.5rem;
            border: none;
            font-family: "Lato", sans-serif;
            font-weight: 900;
            text-transform: uppercase;

            &::before {
                content: url('/dist/icons/play.svg');
            }

            @media screen and (max-width: 568px) {
                width: 88%;
                margin-top: 0;
            }


        }
    }

}

.mobile {
    @media screen and (min-width: 568px) {
        display: none;

    }
}