.episodes {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 0;
    background-color: #000;
    box-shadow: -1px -10px 20px 20px black;

    @media screen and (max-width: 1024px) {
        width: 90%;
    }

    @media screen and (max-width: 567px) {
        padding-top: 1rem;
    }

    &__season {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1075px;
        font-size: 18px;
        margin-top: 2rem;

        @media screen and (max-width: 1024px) {
            width: 90%;
        }

        &-btn {
            display: flex;
            justify-content: center;
            padding: 0.5rem 0.5rem 0;
            color: $corTextSegundaria;
            background: transparent;
            border: none;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            transition: 0.4s;

            &::before {
                content: url('/dist/icons/sort_FILL0_wght400_GRAD0_opsz24.svg');
                filter: brightness(0) saturate(100%) invert(62%) sepia(10%) saturate(22%) hue-rotate(336deg) brightness(101%) contrast(93%);
                margin-right: 0.5rem;
                width: 24px;
                transition: 0.4s;
            }

            &:hover {
                background-color: #23252b;
                color: #FFF;

                &::before {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(104deg) brightness(102%) contrast(105%);
                }
            }
        }
    }

    &__lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin: 2rem 0;
        width: 80%;
        cursor: pointer;
        
        @media screen and (max-width: 1025px) {
            width: 100%;
        }

        @media screen and (max-width: 567px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }


        &-card {
            
            @media screen and (max-width: 567px) {
                display: flex;
                gap: 1rem;
                width: 80%;
            }

            &-cover {
                width: 100%;
                @media screen and (max-width:567px) {
                    width: 40%;
                }
            }

            &-text {
                @media screen and (max-width:567px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-serie {
                color: $corTextSegundaria;
            }

            &:hover &-title {
                text-decoration: underline;
            }

            &-language {
                color: $corTextSegundaria;
            }


        }

    }




}