.header {
    background-color: $corHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    z-index: 2;
    position: fixed;
    color: $corTextPrimaria;

    &__logo {
        width: 8.5rem;
        margin-right: 3rem;
        cursor: pointer;
        
        &:hover {
            filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(440%) hue-rotate(338deg) brightness(118%) contrast(100%);
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
        }

        &-itens {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 1rem;
            height: 60px;
            cursor: pointer;

            &:hover {
                background-color: $corHeader-hover;
            }

            &:nth-child(1) {
                &::after {
                    content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;

                }
            }

            &:nth-child(3) {
                &::after {
                    content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;
                }
            }

        }

        &-icons {
            padding: 1rem;

            &:hover {
                background-color: $corHeader-hover;
            }
        }

        &-perfil {
            display: flex;
            align-items: center;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $corHeader-hover;
            }

            &::after {
                content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                margin-left: 0.3rem;
            }
        }

        &-avatar {
            border-radius: 100%;
            width: 30px;
        }
    }
}