.header {
    background-color: $corHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 1;
    position: sticky;
    color: $corTextSecundaria;

    &__logo {
        width: 8.5rem;
        margin-right: 3rem;
        cursor: pointer;

    }

    &__menu {
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
        }

        &-itens {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 1rem;
            height: 60px;
            cursor: pointer;

            &:hover {
                background-color: $corHover;
            }

            &:nth-child(1) {
                &::after {
                    content: url('/dist/images/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;

                }
            }

            &:nth-child(3) {
                &::after {
                    content: url('/dist/images/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;
                }
            }

        }

        &-icons {
            padding: 1rem;

            &:hover {
                background-color: $corHover;
            }
        }

        &-perfil {
            display: flex;
            align-items: center;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $corHover;
            }

            &::after {
                content: url('../images/chevron-down.svg');
            }
        }

        &-avatar {
            border-radius: 100%;
            width: 30px;
        }
    }
}