.header {
    background-color: $corHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    z-index: 2;
    position: fixed;
    color: $corTextPrimaria;

    @media screen and (max-width: 567px) {
        padding: 0;
    }

    &__menu {
        &-btn {
            display: none;
            @media screen and (max-width:567px) {
                display: block;
                margin: 0 1rem;
                background: url("/dist/icons/menu.svg") transparent no-repeat center ;
                border: none;
                width: 50px;
                height: 50px;
                cursor: pointer;
            
            }
            
        }

        &-options {
            width: 100vw;
            height: 100vh;
            background: $corHeader-hover;
            position: absolute;
            top: 60px;
            display: none;
            
            &--active {
                display: block;
            }
        }

        &-list {

            &-container {
                border-bottom: 2px solid $corHeader;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
            }

            &-itens {
                padding: 1rem ;
                color: #F8F8F8;
                &:hover {
                    background-color: $corHeader;
                    cursor: pointer;
                }

                &:nth-child(1) {
                    text-transform: uppercase;
                    color: $corTextSegundaria;
                    &:hover {
                        background: none;
                        cursor: default;
                    }
                }

                &:nth-child(8), &:nth-last-child(1) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &::after {
                        content: url('/dist/icons/chevron-down.svg');
                        margin-right: 3rem;
                    }

                }


            }
        }
    }

    &__logo {
        width: 8.5rem;
        margin-right: 3rem;
        cursor: pointer;

        @media screen and (max-width:567px) {
            display: none;
        }
        
        &:hover {
            filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(440%) hue-rotate(338deg) brightness(118%) contrast(100%);
        }

        &--mobile {
            display: none;
            @media screen and (max-width:567px) {
                display: block;
                width: 10%;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        @media screen and (max-width: 567px) {
            display: none;
        }

        &-container {
            display: flex;
            align-items: center;
        }

        &-itens {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 1rem;
            height: 60px;
            cursor: pointer;

            &:hover {
                color: #FFF;
                background-color: $corHeader-hover;
            }

            &:nth-child(1) {
                &::after {
                    content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;

                }
            }

            &:nth-child(3) {
                &::after {
                    content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                    width: 16px;
                    margin-left: .8rem;
                }
            }

        }

        &-icons {
            padding: 1rem;

            &:hover {
                background-color: $corHeader-hover;
            }
        }

        &-perfil {
            display: flex;
            align-items: center;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $corHeader-hover;
            }

            &::after {
                content: url('/dist/icons/down-arrow-svgrepo-com.svg');
                margin-left: 0.3rem;
            }
        }

        &-avatar {
            border-radius: 100%;
            width: 30px;
        }
    }
}