$corBg: #000;
$corBgGradient: #203741;
$corHeader : #23252b;
$corHeader-hover : #18191d;
$corPrincipal: #F47521;
$corPrincipal-select: #f58e3a;
$corTextPrimaria: #DADADA;
$corTextSegundaria: #A0A0A0;
$corTags: #192e38;
