@use 'variaveis';
@use 'header';
@use 'banner';
@use 'description';
@use 'episodes';
@use 'footer';

@font-face {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    src: url('/assets/fonts/Lato-Regular.ttf');

    font-family: "Lato", sans-serif;
    font-weight: 700;
    src: url('/assets/fonts/Lato-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, variaveis.$corBg 90%, variaveis.$corBgGradient 100%);
    color: #FFF;
    font-family: "Lato", sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10
}

.text-big {
    @include text(34px);
    font-family: "Lato", sans-serif;

    @media screen and (max-width: 568px) {
        @include text(24px);
    }
}

.text {
    @include text;
    font-family: "Lato", sans-serif;
}

.text-small {
    @include text(14px);
    font-family: "Lato", sans-serif;
}

.text-little {
    @include text(12px);
    font-family: "Lato", sans-serif;
}




